@import '../../variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  @media (max-width: $max-mobail-size) {
    flex-direction: column;
    align-items: center;
  }
}
.main {
  margin: 0 20px;
  @media (max-width: $middle-mobail-size) {
    max-width: 320px;
  }
}
