@import '../../variables.scss';

.ticketsCards {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 504px;
}

.more {
  width: 502px;
  height: 50px;
  border: none;
  background-color: $main-active-color;
  margin-bottom: 50px;
  border-radius: 5px;
  color: $active-text-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  @media (max-width: $middle-mobail-size) {
    max-width: 320px;
  }
}

.spinner {
  height: 50px;
  width: 50px;
  border-left: 3px solid $main-active-color;
  border-bottom: 3px solid $main-active-color;
  border-right: 3px solid $main-active-color;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
