$max-mobail-size: 767px;
$middle-mobail-size: 540px;
$main-background-color: #f3f7fa;
$active-text-color: #fff;
$main-text-color: #4a4a4a;
$main-border-color: #dfe5ec;
$inside-background-color: #fff;
$hover-color: #f1fcff;
$main-active-color: #2196f3;
